# https://packaging.python.org/guides/using-manifest-in/

# Include
include requirements.txt
include LICENSE

#
graft tjsp # Add all files under directories src
#graft data # Add all files under directories data
prune scripts # Remove all files under directories test
#recursive-include YourPackage/data/*.csv

# Excluí
exclude tjsp/*.ipynb
exclude scripts/*.ipynb
#exclude */*/run.py
#exclude */run.py

global-exclude run.py
global-exclude data/tab_Pa*

# Excluí
global-exclude __pycache__
global-exclude *.py[cod] # The square brackets are for matching any one of the characters, so it matches .pyc, .pyo and .pyd
global-exclude *.ipynb_checkpoints/

